<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="test/bootstrap.php"
>
    <testsuites>
        <testsuite name="Modular Monolith Standard Elements Test Suite">
            <directory>test</directory>
        </testsuite>

        <testsuite name="Modular Monolith Standard PHPCS Test Suite">
            <file>./vendor/squizlabs/php_codesniffer/tests/Standards/AllSniffs.php</file>
        </testsuite>
    </testsuites>
</phpunit>